// Navigation start
.navbar-custom {
  border-bottom: 4px solid #f5efe6;
  background: #333333;
}

// Navigation end

// Header start

.header-home {
  padding: 5rem;
  background-image: url("../images/header-home.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.p-header {
  color: #fff;
  font-weight: 600;
  text-align: justify;
}

.list-element-custom {
  font-size: 1.2rem;
}

.header-services {
  padding: 5rem;
  background-image: url("../images/header-services.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-services::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.header-portfolio {
  padding: 5rem;
  background-image: url("../images/header-portfolio.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-portfolio::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.header-contact {
  padding: 5rem;
  background-image: url("../images/header-contact.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

// Header end

// Section Factory start

.img-factory {
  border-radius: 1rem;
  max-width: 400px;
}

// Section Factory end

// Call-To-Action start

.btn-whatsapp {
  background-color: rgb(7, 94, 84, 1);
}

.btn-whatsapp:hover {
  background-color: rgba(7, 94, 84, 0.9);
}

.cta-home {
  background-color: #222831;
}

.cta-services {
  background-color: #4b4376;
}

.cta-portfolio {
  background-color: #F14A00;
}

.cta-contact {
  background-color: #C63C51;
}

.cta-custom {
  font-size: 1.4rem;
}

// Call-To-Action end

// Footer start

.footer-about-p {
  text-align: justify;
}

// Footer end

// Main Section on Contact page start


@media (min-width: 992px) {
  .contact-info-link {
    transition: all 0.3s ease;
  }

  .contact-info-link:hover {
    transform: scale(1.05);
  }
}

.factory-address {
  text-wrap: nowrap;
}

// Main Section on Contact page end

// Modals start
.modal-dialog {
  
}

// .modal-body {
//   max-height: 80vh;
//   overflow-y: auto; 
// }

.modal-body {
  // width: 500px;
  // height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.container-gallery-specs {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.gallery-left {
  display: flex;
  
  flex-wrap: wrap;
  max-width: 450px;
  gap: 0.5rem;
  border: 4px solid #222831;
  padding: 1rem;
  border-radius: 0.5rem;
}

.modal-images-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 450px;
  gap: 0.5rem;
}

.modal-img-singular {
  max-width: 400px;
}

.modal-img-multiple {
  max-width: 200px;
  // margin-bottom: 10px;
}

// Modals end

// Form modal start

.form-p {
  text-align: justify;
}

// Form modal end


.xl-text {
  font-size: 75px;
}

.btn-outline-secondary {
  color: var(--bs-secondary);
}

.btn-outline-secondary {
  &:hover {
    color: #fff;
  }
}

.header {
  margin-top: 80px;
}

.header .decoration-star {
  top: 80px;
  left: -200px;
  width: 500px;
  opacity: 0.7;
}

.contact .decoration-star {
  left: -300px;
  width: 600px;
}

.header .decoration-star-2 {
  top: 80px;
  right: -200px;
  width: 500px;
  opacity: 0.7;
}

.navbar {
  transition: all 0.5s ease-in-out;
}

.navbar-sticky {
  // background: #9cafaa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.details .decoration-star {
  left: -200px;
  width: 500px;
}

.details-2 .decoration-star {
  right: -200px;
  width: 500px;
}

.to-top-btn {
  position: fixed;
  z-index: 20;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: #44434a;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  &:hover {
    background-color: #1d1d21;
  }
}

.to-top-btn {
  img {
    margin-bottom: 0.25rem;
    width: 18px;
  }
}

.show {
  opacity: 1;
}

section {
  transition:
    transform 1s,
    opacity 1s;
}

.section-hidden {
  opacity: 0;
  transform: translateY(8rem);
}

// styling the carousel

.carousel-item {
  height: 35rem;
}

.carousel-control-prev {
  left: 7%;
  top: 50%;
  bottom: unset;
  width: unset;
}

.carousel-control-next {
  right: 7%;
  top: 50%;
  bottom: unset;
  width: unset;
}

.dots {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1.5rem;
}

.slider__button {
  border: none;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #b9b9b9;
  opacity: 0.7;
  transition: all 0.5s;
}

.slider__button--active {
  background-color: #888;
  opacity: 1;
}

@media (max-width: 992px) {
  .xl-text {
    font-size: 50px;
  }

  .navbar {
    .btn-outline-secondary {
      margin-top: 20px;
    }
  }

  .header {
    margin-top: 0 !important;
    text-align: center;
  }

  .header .decoration-star {
    left: -120px;
    width: 250px;
  }

  .header .decoration-star-2 {
    right: -120px;
    width: 250px;
  }

  .header .info-container {
    margin-top: 30px;
  }

  .services .col-md-4 {
    border-bottom: 1px #ccc solid;
    margin: 10px 0;
  }

  .details-2 {
    margin-top: 0 !important;
  }

  .details-2 .decoration-star {
    top: 300px;
  }
}
