// Navigation start
.navbar-custom {
  border-bottom: 4px solid #f5efe6;
  background: #333333;
  padding: 0 !important;
  height: 80px;
}

// .navbar-collapse-custom {
//   height: 100vh;
// }

// Navigation end

// Header start

.header-home {
  padding: 5rem;
  background-image: url("../images/header-home.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.p-header {
  color: #fff;
  font-weight: 600;
  text-align: justify;
}

.list-element-custom {
  font-size: 1.2rem;
}

.header-services {
  padding: 5rem;
  background-image: url("../images/header-services.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-services::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.header-portfolio {
  padding: 5rem;
  background-image: url("../images/header-portfolio.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-portfolio::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.header-contact {
  padding: 5rem;
  background-image: url("../images/header-contact.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.header-cookies {
  background: url("../images/cookies-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header-cookies::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

// Header end

// Partner section start

.partener-sigplast {
  background-color: #D3DAD9;
}

.sigplast-partner-img {
  width: 250px;
}

.sigplast-logo-link {
  transition: all 0.3s ease;
  text-decoration: none;
}

.fa-award-custom {
  color: #E9A319;
}

.fa-trophy-custom {
  color: #454545;
}

.fa-sack-dollar-custom {
  color: #556B2F;
}

.produced-100-romania {
  border-right: 4px solid #37353E;
  padding-right: 0.5rem;
}

// Partner section end

// Technical details start

.profile-technical-details {
  background-color: #D3DAD9;
  padding: 5rem 0;
}

.services-tech-details {
  background-color: #E1E9C9;
}

.link-section-60 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s ease;
}

.link-section-70 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s ease;
}

.link-section-60:hover {
  transform: scale(1.05);
}

.link-section-70:hover {
  transform: scale(1.05);
}

.borderd-img {
  border-radius: 1.2rem;
}

.table {
  cursor: default;
  border: 3px solid #191e47 !important;
}

// Technical details end

// .factory-prices {

// }

@media (min-width: 992px) {
  .sigplast-logo-link:hover {
    transform: scale(1.05);
  }
}

// Partner section end

// Section Factory start

.img-factory {
  border-radius: 1rem;
  max-width: 400px;
}

// Section Factory end

// Call-To-Action start

.btn-whatsapp {
  background-color: rgb(7, 94, 84, 1);
}

.btn-whatsapp:hover {
  background-color: rgba(7, 94, 84, 0.9);
}

.cta-home {
  background-color: #222831;
}

.cta-services {
  background-color: #4b4376;
}

.cta-portfolio {
  background-color: #F14A00;
}

.cta-contact {
  background-color: #C63C51;
}

.cta-custom {
  font-size: 1.4rem;
}

// Call-To-Action end

// Footer start

.footer-about-p {
  text-align: justify;
}

// Footer end

// Main Section on Contact page start


@media (min-width: 992px) {
  .contact-info-link {
    transition: all 0.3s ease;
  }

  .contact-info-link:hover {
    transform: scale(1.05);
  }
}

.factory-address {
  text-wrap: nowrap;
}

// Main Section on Contact page end


// Cards on portfolio page start
.montserrat-text {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.card-custom {
  cursor: pointer;
}

.card-overlay {
  content: "";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 5px;
}

.text-white-custom {
  color: white !important;
  position: relative;
  z-index: 1000;
}

.card-blur {
  filter: blur(2px);
}

.card-overlay .show{
  opacity: 1;
}

// Modals start
// .modal-dialog {
  
// }

// .modal-body {
//   max-height: 80vh;
//   overflow-y: auto; 
// }

.modal-body {
  // width: 500px;
  // height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.container-gallery-specs {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.gallery-left {
  display: flex;
  
  flex-wrap: wrap;
  max-width: 450px;
  gap: 0.5rem;
  border: 4px solid #222831;
  padding: 1rem;
  border-radius: 0.5rem;
}

.modal-images-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 450px;
  gap: 0.5rem;
}

.modal-img-singular {
  max-width: 400px;
}

.modal-img-multiple {
  max-width: 200px;
  // margin-bottom: 10px;
}

// Modals end

// Form modal start

.form-p {
  text-align: justify;
}

// Toast start

#toast {
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translate(-50%);
  padding: 0.75rem;
  border-radius: 0.5rem;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 20px;
  color: #fff;
}

.toast-hidden {
  opacity: 0;
}

.toast-visible {
  opacity: 1 !important;
}

.toast-success {
  background: lightgreen;
}

.toast-error {
  background: red;
}

// Toast end

.attach-image-label {
  display: block;
  border: 2px dashed #ccc;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.image-input {
  display: none;
}

// Form modal end

// Thank you page start

.thank-you {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

// Thank you page end

// tooManyRequests start

.too-many-requests-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// tooManyRequests end

// Landing page start

.header-landing {
  background-image: url("../images/header-home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.header-landing::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.header-landing .text-content {
  position: relative;
  z-index: 100;
}

.p-header-landing {
  color: #fff;
  font-weight: 600;
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.formLandingPage {
  width: 350px;
}

.why-choose-our-services {
  background-color: #2a9d8f;
}

.additional-cta {
  background-color: #EA580C;
}

.award-custom {
  color: #ffd700;
}

.color-grey {
  color: #f0f0f0;
}

.list-group-item {
  cursor: default;
}

.landing-page-h1 {
  font-size: 4rem;
}

.landing-page-factory-image {
  transition: all 0.3s ease;
}

@media (min-width: 1400px) {
  .landing-page-factory-image:hover {
  transform: scale(1.05);
}
}

// Landing page end

// Cookies page start
.cookies-popup {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #44444E;
  padding: 1.5rem;
}


// Cookies page end


// Common elements
// side buttons start
.side-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  position: fixed;
  right: 1rem;
  bottom: 45%;
}

.side-buttons-whatsapp {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.side-buttons-message {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.side-buttons-whatsapp-text{
  opacity: 0;
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.2rem;
}

.side-buttons-whatsapp-text .show {
  opacity: 1;
}

.side-buttons-message-text {
  opacity: 0;
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.2rem;
  transition: all 0.3s ease;
}

.side-buttons-message-text .show {
  opacity: 1;
}

.fa-form-custom {
  color: #EB5B00;
  font-size: 2.25rem;
}

.fa-whatsapp-custom {
  color: #075E54;
  font-size: 2.25rem;
}

.side-buttons-message-icon {
  background-color: white;
  padding: 0.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
}

.side-buttons-whatsapp-icon {
  background-color: white;
  padding: 0.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
}
// side buttons end

// navbar start

.active-custom:last-child{
  color: #fff !important;
  background-color: #1F7D53;
  border: none !important;
}

.nav-item:not(:last-child):hover{
  background-color: #1F7D53;
  .nav-link {
    color: #fff !important;
  }
}

.image-item {
  display: flex;
  // justify-content: space-between;
}

.fa-circle-custom {
  font-size: 1.25rem;
}

.delete-btn {
  background-color: transparent;
  border: none;
}

// .navbar-collapse-custom {
//   // display: flex;
//   // justify-content: center;
// }



// navbar end

.attachment-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.xl-text {
  font-size: 75px;
}

.btn-outline-secondary {
  color: var(--bs-secondary);
}

.btn-outline-secondary {
  &:hover {
    color: #fff;
  }
}

.header {
  margin-top: 80px;
}

.header .decoration-star {
  top: 80px;
  left: -200px;
  width: 500px;
  opacity: 0.7;
}

.contact .decoration-star {
  left: -300px;
  width: 600px;
}

.header .decoration-star-2 {
  top: 80px;
  right: -200px;
  width: 500px;
  opacity: 0.7;
}

.navbar {
  transition: all 0.5s ease-in-out;
}

.navbar-sticky {
  // background: #9cafaa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.details .decoration-star {
  left: -200px;
  width: 500px;
}

.details-2 .decoration-star {
  right: -200px;
  width: 500px;
}

.to-top-btn {
  position: fixed;
  z-index: 20;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: #44434a;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  &:hover {
    background-color: #1d1d21;
  }
}

.to-top-btn {
  img {
    margin-bottom: 0.25rem;
    width: 18px;
  }
}

.show {
  opacity: 1;
}

section {
  transition:
    transform 1s,
    opacity 1s;
}

.section-hidden {
  opacity: 0;
  transform: translateY(8rem);
}

// styling the carousel

.carousel-item {
  height: 35rem;
}

.carousel-control-prev {
  left: 7%;
  top: 50%;
  bottom: unset;
  width: unset;
}

.carousel-control-next {
  right: 7%;
  top: 50%;
  bottom: unset;
  width: unset;
}

.dots {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1.5rem;
}

.slider__button {
  border: none;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #b9b9b9;
  opacity: 0.7;
  transition: all 0.5s;
}

.slider__button--active {
  background-color: #888;
  opacity: 1;
}

@media (max-width: 992px) {
  .xl-text {
    font-size: 50px;
  }

  .navbar {
    .btn-outline-secondary {
      margin-top: 20px;
    }
  }

  .header {
    margin-top: 0 !important;
    text-align: center;
  }

  .header .decoration-star {
    left: -120px;
    width: 250px;
  }

  .header .decoration-star-2 {
    right: -120px;
    width: 250px;
  }

  .header .info-container {
    margin-top: 30px;
  }

  .services .col-md-4 {
    border-bottom: 1px #ccc solid;
    margin: 10px 0;
  }

  .details-2 {
    margin-top: 0 !important;
  }

  .details-2 .decoration-star {
    top: 300px;
  }
}

// Media Queries

@media (max-width: 576px) {
  // index page
  .header-home {
  padding: 1rem;
}

.p-header {
  text-align: center;
}

.img-factory {
  width: 350px;
}

.why-choose-us-list {
  padding: 2rem;
}

.cta-middle-btn {
  margin: 10px 0;
}

.footer-about-p {
  font-size: 20px;
}

.li-styled {
  font-size: 20px;
}

// Making the navbar work on mobile
.container-navbar-custom,
.navbar-collapse-custom,
.navbar-nav-custom,
.nav-item-custom,
.nav-link-custom {
  height: auto !important;
}

.container-navbar-custom {
  padding: 0 !important;
}

.navbar-collapse-custom {
  padding-top: 1rem !important;
}



.navbar-custom {
  height: auto !important;
  padding: 1rem !important;
}

// services page
.header-services {
  padding: 1rem;
}

// portfolio page
.header-portfolio {
  padding: 1rem;
}

// contact page
.header-contact {
  padding: 1rem;
}

.nav-item {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav-link {
  width: 100%;
  display: flex;
  justify-content: center;
}

.active-custom:last-child {
  width: 100%;
  justify-content: center;
}

.btn-contact-navbar {
  margin: 0 !important;
  margin-top: 0.5rem !important;
  width: 100%;
}
}
